header{
    background: url(img/Night-Sky-Stars-Background.jpg);
    background-size: cover;
    min-height: 700px;  
    background-position: center;
}
.tabs .indicator{
    background-color: darkslategray;
}
.tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
}   
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
@media screen and (max-width: 670px){
    header{
        min-height: 300px;
    }
}